<form method="post" action="{{ path('backend_recursos_humanos_empleado_delete', {'id': empleado.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empleado.id) }}">
    <button class="btn">Delete</button>
</form>
