{% extends 'base.html.twig' %}

{% block title %}Edit Empleado{% endblock %}

{% block body %}
    <h1>Edit Empleado</h1>

    {{ include('backend/recursos_humanos/empleado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backend_recursos_humanos_empleado_index') }}">back to list</a>

    {{ include('backend/recursos_humanos/empleado/_delete_form.html.twig') }}
{% endblock %}
