{% extends 'base.html.twig' %}

{% block title %}Empleado index{% endblock %}

{% block body %}
    <h1>Empleado index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Area</th>
                <th>FechaNacimiento</th>
                <th>Activo</th>
                <th>FechaCreacion</th>
                <th>FechaActualizacion</th>
                <th>UsuarioActualizo</th>
                <th>NumeroEmpleado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.id }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.area }}</td>
                <td>{{ empleado.fechaNacimiento ? empleado.fechaNacimiento|date('Y-m-d') : '' }}</td>
                <td>{{ empleado.activo ? 'Yes' : 'No' }}</td>
                <td>{{ empleado.fechaCreacion ? empleado.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ empleado.fechaActualizacion ? empleado.fechaActualizacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ empleado.usuarioActualizo }}</td>
                <td>{{ empleado.numeroEmpleado }}</td>
                <td>
                    <a href="{{ path('backend_recursos_humanos_empleado_show', {'id': empleado.id}) }}">show</a>
                    <a href="{{ path('backend_recursos_humanos_empleado_edit', {'id': empleado.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backend_recursos_humanos_empleado_new') }}">Create new</a>
{% endblock %}
