{% extends 'base.html.twig' %}

{% block title %}New Empleado{% endblock %}

{% block body %}
    <h1>Create new Empleado</h1>

    {{ include('backend/recursos_humanos/empleado/_form.html.twig') }}

    <a href="{{ path('backend_recursos_humanos_empleado_index') }}">back to list</a>
{% endblock %}
