<form method="post" action="{{ path('backend_recursos_humanos_area_delete', {'id': area.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ area.id) }}">
    <button class="btn">Delete</button>
</form>
