{% extends 'base.html.twig' %}

{% block title %}Area index{% endblock %}

{% block body %}
    <h1>Area index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.id }}</td>
                <td>{{ area.nombre }}</td>
                <td>{{ area.descripcion }}</td>
                <td>{{ area.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('backend_recursos_humanos_area_show', {'id': area.id}) }}">show</a>
                    <a href="{{ path('backend_recursos_humanos_area_edit', {'id': area.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backend_recursos_humanos_area_new') }}">Create new</a>
{% endblock %}
