{% extends 'base.html.twig' %}

{% block title %}New Area{% endblock %}

{% block body %}
    <h1>Create new Area</h1>

    {{ include('backend/recursos_humanos/area/_form.html.twig') }}

    <a href="{{ path('backend_recursos_humanos_area_index') }}">back to list</a>
{% endblock %}
