{% extends 'base.html.twig' %}

{% block title %}Area{% endblock %}

{% block body %}
    <h1>Area</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ area.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ area.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ area.descripcion }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ area.activo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_recursos_humanos_area_index') }}">back to list</a>

    <a href="{{ path('backend_recursos_humanos_area_edit', {'id': area.id}) }}">edit</a>

    {{ include('backend/recursos_humanos/area/_delete_form.html.twig') }}
{% endblock %}
